/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 375px;
  margin: 10rem auto;
}

/* Header */

header h1 {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

header > p {
  color: hsl(303, 10%, 53%);
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

/* Rated section */

.rated > .stars-wrapper {
  background-color: hsl(300, 24%, 96%);
  width: 100%;
  height: 8rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stars-wrapper > .stars {
  padding-bottom: 0.4rem;
}

.stars-wrapper > p {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  padding-top: 0.4rem;
}

/* Cards Section */

.cards {
  display: flex;
  flex-flow: column wrap;
}

.card {
  width: 100%;
  height: 31rem;
  background-color: hsl(300, 43%, 22%);
  margin-bottom: 1rem;
  margin-top: 4rem;
  border-radius: 8px;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 11rem 13rem;
  row-gap: 0.1rem;
  padding: 3rem;
  align-items: center;
}

.buyer {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
}

.card-content > .buyer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 2.5rem;
}

.buyer .name > h3 {
  color: #ffffff;
  margin-bottom: 0.7rem;
}
.buyer .name > h3 span {
  color: hsl(333, 80%, 67%);
  margin-top: 0.5rem;
}

.card-content > p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.8;
}

/* Footer */

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop Styles */

@media only screen and (min-width: 1200px) {
  .container {
    width: 1440px;
    height: 80vh;
    margin: 8rem auto 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2rem;
    column-gap: 1rem;
  }

  header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0rem 22rem 0 0;
  }

  header h1 {
    text-align: left;
    font-size: 5rem;
  }

  header p {
    text-align: left;
    font-size: 1.7rem;
    padding-top: 4rem;
  }

  header > .rated {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .rated {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .rated > .stars-wrapper {
    width: 70%;
    flex-direction: row;
    height: 7rem;
    margin-bottom: 0;
  }

  .stars-wrapper p {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
  }

  .top {
    justify-self: start;
  }

  .middle {
    justify-self: center;
  }

  .bottom {
    justify-self: end;
  }

  .card {
    height: 26rem;
  }

  .card-content {
    padding-top: 1rem;
  }

  .cards {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3rem;
  }

  .card-top {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    align-self: start;
  }

  .card-middle {
    grid-column: 2 / 3;
    grid-row: 1 /3;
    align-self: center;
  }

  .card-bottom {
    grid-column: 3 / -1;
    grid-row: 1 /3;
    align-self: end;
  }

  footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: end;
  }
}
